body {
    font-family: system-ui, Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}
button {
    font-family: inherit;
    color: white;
    background-color: #3882F6;
}
.top {
    background-color: #1F2937;
    color: white;
}
.header {
    display: flex;
}
.header-logo {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}
.header-logo h3 {
    font-size: 24px;
}
.header-links {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 16px;
}

.top-lower {
    display: flex;
    border-color: red;
    border-style: solid;
    padding: 7% 15% 7% 15%;
}
.top-lower-sign-up {
    border-color: red;
    border-style: solid;
    flex: 1;
    display: flex;
    flex-direction: column;
}
.hero-text {
    font-size: 48px;
    font-weight: bold;
    color: #F9FAF8;
    border-color: red;
    border-style: solid;
}
.hero-subtext {
    border-color: red;
    border-style: solid;
    font-size: 18px;
    color: #E5E7EB;
}
.hero-button {
    border-color: red;
    border-style: solid;
}
.placeholder-image {
    background-color: gray;
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}