body {
    font-family: system-ui, Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

.top {
    background-color: #1F2937;
    color: white;
}
.header {
    display: flex;
}
.header-logo {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}
.header-links {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 16px;
}
