body {
    font-family: system-ui, Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}
button {
    font-family: inherit;
    font-weight: bold;
    color: white;
    background-color: #3882F6;
    padding: 5px 20px 5px 20px;
    border-radius: 7px;
}
.top {
    background-color: #1F2937;
    color: white;
}
.header {
    display: flex;
}
.header-logo {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}
.header-logo h3 {
    font-size: 24px;
}
.header-links {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 16px;
}

.top-lower {
    display: flex;
    padding: 7% 15% 7% 15%;
}
.top-lower-sign-up {
    flex: 1;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}
.hero-text {
    font-size: 48px;
    font-weight: bold;
    color: #F9FAF8;
    flex: 1;
}
.hero-text p {
    margin: 0;
}
.hero-subtext {
    flex: 1;
    color: #E5E7EB;
}
.hero-subtext p {
    margin: 0;
}
.hero-button {
    flex: 1;
}
.placeholder-image {
    background-color: gray;
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.random-information h2 {
    font-size: 36px;
    color: #1F2937;
    text-align: center;
}